
body {
    display: flex; /* Устанавливает flex-контейнер, что позволяет использовать flexbox свойства для дочерних элементов */
    justify-content: center; /* Выравнивает элементы по горизонтали по центру */
    align-items: center; /* Выравнивает элементы по вертикали по центру */
    height: 100vh; /* Устанавливает высоту body на 100% высоты видимой области (viewport height) */
    margin: 0; /* Убирает внешние отступы у body */
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-image: url('../images/start_page.jpeg'); 
}

.rectangle {
    width: 150vh; /* Устанавливает ширину прямоугольника 55% от высоты видимой области */
    height: 0vh; /* Устанавливает высоту прямоугольника 65% от высоты видимой области */
    background-color: #81c784; /* Устанавливает цвет фона прямоугольника на бледно-желтый */
    border-radius: 20px; /* Скругляет углы прямоугольника с радиусом 20 пикселей */
    display: flex; /* Устанавливает flex-контейнер для прямоугольника */
    flex-direction: column; /* Размещает элементы внутри прямоугольника в столбец */
    justify-content: center; /* Выравнивает элементы внутри прямоугольника по центру по вертикали */
    align-items: center; /* Выравнивает элементы внутри прямоугольника по центру по горизонтали */
  
}

h1 {
    margin-bottom: 60px; /* Добавляет отступ в 20 пикселей снизу под заголовком h1 */
}

input {
    margin-bottom: 20px; /* Добавляет отступ в 10 пикселей снизу под каждым полем ввода */
}

